.tech-stack-section {
  padding: 9.6rem 0;
}

.tech-stack-title {
  text-align: center;
  margin-bottom: 2.4rem;
}

.tech-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4.8rem 6.4rem;
}

.tech-icon {
  height: 6.4rem;
  width: 6.4rem;
}
