.contact-section {
  padding: 9.6rem 0;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem 3.6rem;
  max-width: 64rem;
  margin: 0 auto 6.4rem auto;
}

.cta-heading {
  text-align: center;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  font-family: inherit;
  color: var(--tertiary-color);
}

.cta-form input {
  width: 100%;
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--main-color-light);
  font-family: inherit;
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--tertiary-color-light);
}

.cta-form input::placeholder,
.cta-form input::content {
  color: var(--main-color-light);
}

.textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  border: 1px solid var(--main-color-light);
  padding: 0.9rem 1.6rem;
  color: var(--tertiary-color-light);
}

.textarea::placeholder {
  color: var(--main-color-light);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.text-area-container {
  display: grid;
  grid-column: span 2;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  font-family: inherit;
}

@media (max-width: 31em) {
  .cta-form {
    grid-template-columns: 1fr;
  }

  .text-area-container {
    grid-column: span 1;
  }
}
